body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
  font-family: "Oswald", sans-serif;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url("https://thumbs.gfycat.com/PoshGentleHoneybadger-size_restricted.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-size: 85% auto;
}


canvas {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.showContainer {
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.7);
  background-color: rgba(117, 117, 117, 1);
  height: 60%;
  -webkit-box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.75);
  position: absolute;
  z-index: 1;
  top: 20%;
  max-width: 80vw;
  max-height: 150vh;}





.formContainer{
  margin-top: 45px;
}


#logo{
  position: absolute;
  z-index: 1;
  top: 1%;
  left: 1%;
  display: flex;
  align-items: center;
  max-width: 100vw;
  width: 40%;
}

#logo > img{
  width: 20%;
}

#trivia{
  font-size: 1.6em;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  position: relative;
  right: 20px;
  margin: 0;
}

.controlsContainer{
  width: 20%;
  margin: 0 auto;
  justify-content: center;
}

.controlsContainer > .far{
  margin: 0 10px;
  cursor: pointer;
}

#submit{
  padding:9px 0px 9px 0px;
  width: 30%;
  display: block;
  margin: 21px auto 0 auto;
  background-color: #86171A;
  color: black;
  font-family: 'Oswald', sans-serif;
  border: 3px solid black;
  border-radius: 7px;
  font-size: 1.2em;
  text-transform: uppercase;
  transition: transform ease 0.3s;
  cursor: pointer;
  font-weight: 700;
  position: relative;}

#submit:hover{
  position: relative;
  transform: translateY(-6px);
  box-shadow: 0px 6px 18px -5px rgba(0,0,0,0.75);
}

#submit:focus{
  outline: none;}

  #submit:active {
    background: black;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }

.form-control {
  position: relative;
  margin-top: 60px;
  width: 100%;
  bottom: 35px;
}

input {
  border: none;
  border-bottom: 3px solid #010305;
  padding: 15px 4px 11px 6px;
  width: 250px;
  max-width: 40vw;
  display: block;
  font-size: 19px;
  background-color: transparent;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  color: #86171A;
  text-transform: uppercase;
}

input:focus {
  border: none;
  outline: none;
}

input:focus ~ label,
.form-control input:valid ~ label {
  top: -18%;
  font-size: 18px;
  left: 20%;
  color: black;
}



input:focus ~ label,
:after {  font-size: 17px; }

label {
  max-width: 30vw;
  width: 100%;
  position: absolute;
  top: 8px;
  left: 19%;
  font-size: 19px;
  color: #7C0D10;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.bar {
  position: relative;
  width: 400px;
  display: block;
  max-width: 60vw;
}

.bar:before,
.bar:after {
  content: "";
  height: 3px;
  width: 0;
  bottom: 1px;
  position: absolute;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 30%;
}

.bar:after {
  right: 30%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

input:valid ~ .bar:before,
input:valid ~ .bar:after {
  background: black;
}

input:invalid ~ .bar:before,
input:invalid ~ .bar:after {
  background: black;
}

* {
  box-sizing: border-box;
}

#myProgress{
  position: absolute;
  height: 23%;
  width: 45%;
  top: 0%;
  right: -48%;
  z-index: 1;
}

.myBar {
  margin: 10px 0 15px 0;
  width: 0%;
  height: 30px;
  background-color: #86171A;
  border: 3px solid black;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 26px; /* To center it vertically */
  color: black; 
}
.score-label {
  padding-top: 10px;
}
.labelDiv {
  display: inline-block;
}

#scoreBoard{
position: absolute;
top: -145%;
background-color: black;
width: 100%;
height: 100%;
z-index: 2;
border-radius: 7px;
display: flex;
flex-flow: column nowrap;
align-items: space-around;
justify-content: center;
max-width: 80vw;
}

#scoreTitle{
  color: white;
  font-family: 'Oswald', sans-serif;
  border-bottom: 3px solid white;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  position:relative;
  bottom: 2%;
  right: 1%;
  padding-bottom: 5px;
}

.scoreContainer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1em !important;
  text-transform: uppercase;
}


.labelScore{
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 100;
  margin-right: 60px;
}

.scoresColumn1{
  position: relative;
  left: 8%;
}
.scoresColumn2{
  font-size: 1.5em;
  position: relative;
  right: 11%;
}

.labelAverageScore{
  color: white;
  font-size: 1.5em;
  color: #c62828;
}

.averageScore{
  font-size: 1.05em;
  color: #c62828;
}


.equalizer {
  width: 190px;
  height: 190px;
  margin-top: -20px;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.equalizer span {
  background-color: #86171A;
  border: 3px solid black;
  width: 14px;
  height: 0px;
  bottom: 32px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  position: absolute;
  transition: height 0.2s linear;
}
.equalizer span:nth-child(1) {
  margin-left: -40px;
}
.equalizer span:nth-child(2) {
  margin-left: -20px;
}
.equalizer span:nth-child(4) {
  margin-left: 20px;
}
.equalizer span:nth-child(5) {
  margin-left: 40px;
}
.equalizer span:nth-child(6) {
  margin-left: 40px;
}

.equalizer.paused {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.equalizer.paused span {
  height: 14px !important;
}


@media only screen and (max-width: 1650px) {
  .showContainer{height: 67%;}
}


@media only screen and (max-width: 1100px) {
  #myProgress{
  position: absolute;
  height: 23%;
  width: 45%;
  top: 104%;
  left: 0%;
  z-index: 1;
}

.showContainer{
  height: 50%;
  top: 20%;
}

.formContainer{
 margin-top: 35px;
}

.form-control{
  margin-top: 25px;
}

#submit{
  position: absolute;
  bottom: 30px;
  left: 35%;
}


i{
  position: relative;
  bottom: 15px;
}

.equalizer{
top: 140px;

}
}

.test {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.curtain {
  width: 50%;
  height: 90vh;
  float: left;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


.curtain-left {
  -webkit-animation-name: go-left;
  animation-name: go-left;
  animation-delay: 12.5s;

}

.curtain-right {
  -webkit-animation-name: go-right;
  animation-name: go-right;
  animation-delay: 12.5s;

}

@-webkit-keyframes go-left {
  0% {
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
  }
  100% {
      -webkit-transform: translate(-70%, 0%);
      transform: translate(-70%, 0%);
  }
}

@keyframes go-left {
  0% {
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
  }
  100% {
      -webkit-transform: translate(-70%, 0%);
      transform: translate(-70%, 0%);
  }
}

@-webkit-keyframes go-right {
  0% {
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
  }
  100% {
      -webkit-transform: translate(70%, 0%);
      transform: translate(70%, 0%);
  }
}

@keyframes go-right {
  0% {
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
  }
  100% {
      -webkit-transform: translate(70%, 0%);
      transform: translate(70%, 0%);
  }
}

.curtain-element {
  width: 10%;
  height: 110%;
  float: left;
  border-bottom-right-radius: 67px;
  border-bottom-left-radius: 67px;
}

.curtain-element:nth-child(odd) {
  background-color: #7d0a0a;
}

.curtain-element:nth-child(even) {
  background-color: #871515;
}

.curtain-top {
  width: 100%;
  position: absolute;
  top: 0;
  height: 20px;
  background-color: #000000;
}

.intro-container {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#introduction {
  font-size: 70px;
  font-weight: bold;
  color: #000000;
}
